.pokemon-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribuye el espacio uniformemente */
  margin: 0 auto; /* Centra la lista horizontalmente */
  padding: 20px; /* Espacio alrededor de la lista */
  /* /* Ajusta el margen superior según sea necesario */
}

@media (max-width: 991px) {
  .pokemon-card {
    flex-basis: calc(100%-300px); /* Dos tarjetas por fila con margen */
  }
}

@media (max-width: 480px) {
  .pokemon-card {
    flex-basis: 100%; /* Una tarjeta por fila en pantallas muy pequeñas */
  } /* Puedes ajustar otros estilos según tus preferencias */
}
