.pokemon-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Distribuye el espacio uniformemente */
  margin-left: 100px;
  margin-right: 100px; /* Centra la lista horizontalmente */
  padding: 20px; /* Espacio alrededor de la lista */
}

@media (max-width: auto) {
  .pokemon-card {
    flex-basis: 400px; /* Dos tarjetas por fila con margen */
  }
}

@media (max-width: 480px) {
  .pokemon-card {
    flex-basis: 100%; /* Una tarjeta por fila en pantallas muy pequeñas */
  } /* Puedes ajustar otros estilos según tus preferencias */
}
