/* PokemonCard.css */
.pokemon-card {
  padding: 10px;
  margin: 20px; /* Centrar la tarjeta */
  text-align: center;
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fff; /* Fondo blanco */
  width: 300px;
  height: auto; /* Ancho máximo de la tarjeta */
}

.grass {
  background-color: #74cb48; /* Fondo verde para la cabecera */
  color: #fff; /* Texto blanco para la cabecera */
}
.fire {
  background-color: #ffa200; /* Fondo de la cabecera para tipo fuego */
  color: #fff; /* Texto blanco para la cabecera */
}

.water {
  border-color: #2196f3; /* Azul para tipo agua */
  background-color: #2196f3; /* Fondo de la cabecera para tipo agua */
  color: #fff; /* Texto blanco para la cabecera */
}
.poison {
  border-color: #a43e9e; /* Color para el tipo veneno */
  background-color: #a43e9e;
  color: #ffff;
}
.bug {
  border-color: #a7b723; /* Color para el tipo veneno */
  background-color: #a7b723;
  color: #fff;
}
.dragon {
  border-color: #7037ff; /* Color para el tipo veneno */
  background-color: #7037ff;
  color: #fff;
}
.dark {
  border-color: #75574c; /* Color para el tipo veneno */
  background-color: #75574c;
  color: #fff;
}
.psychic {
  border-color: #fff; /* Color para el tipo veneno */
  background-color: #fb5584;
  color: #fff;
}
.fighting {
  border-color: #c12239; /* Color para el tipo veneno */
  background-color: #c12239;
  color: white;
}
.electric {
  border-color: #ffde0a; /* Color para el tipo veneno */
  background-color: #ffde0a;
  color: white;
}
.flying {
  border-color: #a891ec; /* Color para el tipo veneno */
  background-color: #a891ec;
  color: white;
}
.rock {
  border-color: #b69e31; /* Color para el tipo veneno */
  background-color: #b69e31;
  color: white;
}
.ground {
  border-color: #dec16b; /* Color para el tipo veneno */
  background-color: #dec16b;
  color: white;
}
.normal {
  border-color: #aaa67f; /* Color para el tipo veneno */
  background-color: #aaa67f;
  color: white;
}
.ghost {
  border-color: #70559b; /* Color para el tipo veneno */
  background-color: #70559b;
  color: white;
}
.ice {
  border-color: #9ad6df; /* Color para el tipo veneno */
  background-color: #9ad6df;
  color: white;
}
.steel {
  border-color: #b7b9d0; /* Color para el tipo veneno */
  background-color: #b7b9d0;
  color: white;
}
.fairy {
  border-color: #e69eac; /* Color para el tipo veneno */
  background-color: #e69eac;
  color: white;
}

/* Agrega más clases según los tipos de Pokémon que desees */
.pokemon-image {
  width: 150px;
  height: auto;
}

.vl {
  border-left: 6px solid rgb(103, 102, 102);
  border-radius: 8px;
  height: 100px;
  align-self: center;
}

.details {
  color: black;
  margin-right: 4px;
  margin-left: 4px;
  text-align: center;
  border-radius: 20px;
  border-color: white;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
